@* @model BQuick.Models.RFQ *@

@{
    ViewData["Title"] = "Create RFQ";
}

<main class="content-div px-1 py-4 mx-3">
    <div class="container">
        <div class="header mt-4 mb-4 w-100" style="font-size: 29px;">
            <a class="text-decoration-none" asp-controller="RFQ" asp-action="Index"><span class="text-danger fw-bold rfq-link">RFQ</span></a>&nbsp;<span class="fw-bold">&gt;</span>&nbsp;<span class="tes fw-bold text-decoration">Create RFQ</span>
            <span class="float-sm-end fw-bold">RFQYY0000</span>
            @* <span class="float-sm-end fw-bold">@ViewBag.RFQCode</span> *@
        </div>

        <div class="add-customer-form-pop-up px-5 py-3">
            <form method="post" enctype="multipart/form-data" class="add-customer-form">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Company Name
                            </label>
                            <input class="form-control" placeholder="Company Name" required />
                        </div>

                        <div class="mb-5">
                            <label class="form-label form-label-bold">
                                Profile Picture
                            </label>
                            <input class="form-control" type="file" id="customer-profile-picture" name="attachment">
                        </div>

                        <div class="mb-5 row">
                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                <i class='bx bx-info-circle fw-bold'></i>
                                <span class="fw-bold">
                                    Basic Information
                                </span>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Fax
                                    </label>
                                    <input type="tel" class="form-control" id="customer-fax" placeholder="Fax">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Currency default
                                    </label>
                                    <select class="form-select">
                                        <option value="" hidden>Currency default</option>
                                        <option value="IDR">IDR</option>
                                        <option value="USD">USD</option>
                                        <option value="SGD">SGD</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Phone
                                    </label>
                                    <input type="tel" class="form-control" id="customer-phone" placeholder="Phone">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Mobile
                                    </label>
                                    <input type="tel" class="form-control" id="customer-mobile" placeholder="Mobile">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Account Receivable
                                    </label>
                                    <input type="text" class="form-control" id="customer-account-receivable" placeholder="Account Receivable">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Email
                                    </label>
                                    <input type="email" class="form-control" id="customer-email" placeholder="Email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        TOP
                                    </label>
                                    <select class="form-select">
                                        <option value="" hidden>TOP</option>
                                        <option value="30 days">30 days</option>
                                        <option value="45 days">45 days</option>
                                        <option value="60 days">60 days</option>
                                        <option value="65 days">65 days</option>
                                        <option value="90 days">90 days</option>
                                        <option value="Cash in Advance">Cash in Advance</option>
                                        <option value="Cash before Delivery">Cash before Delivery</option>
                                        <option value="Cash on Delivery">Cash on Delivery</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        NPWP
                                    </label>
                                    <input type="text" class="form-control" id="customer-npwp" placeholder="NPWP">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Account Payable
                                    </label>
                                    <input type="text" class="form-control" id="customer-account-payable" placeholder="Account Payable">
                                </div>
                            </div>

                            <div>
                                <label for="formFile" class="form-label form-label-bold">Attachment</label>
                                <input class="form-control" type="file" id="formFile" name="attachment">
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                <span class="fw-bold">
                                    Address
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Billing Address
                                        </label>
                                        <input type="text" class="form-control" id="customer-billing-address" placeholder="Billing Address">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Street
                                        </label>
                                        <input type="text" class="form-control" id="customer-billing-street" placeholder="Street">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    City
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-city" placeholder="City">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Country
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-country" placeholder="Country">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Province
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-province" placeholder="Province">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    ZIP Code
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-zip-code" placeholder="ZIP Code">
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center gap-2">
                                            <input type="checkbox" class="customer-address-checkboxes" id="customer-address-details-checkbox" />
                                            <label>
                                                Detail
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Shipping Address
                                        </label>
                                        <input type="text" class="form-control" id="customer-shipping-address" placeholder="Shipping Address">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Street
                                        </label>
                                        <input type="text" class="form-control" id="customer-shipping-street" placeholder="Street">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    City
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-city" placeholder="City">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Country
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-country" placeholder="Country">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Province
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-province" placeholder="Province">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    ZIP Code
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-zip-code" placeholder="ZIP Code">
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center gap-2">
                                            <input type="checkbox" class="customer-address-checkboxes" id="match-customer-billing-address-checkbox" />
                                            <label>
                                                Same With Billing Address
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="d-flex align-items-center gap-1" style="font-size: 20px;">
                                <i class='bx bx-info-circle fw-bold'></i>
                                <span class="fw-bold">
                                    Bank Information
                                </span>
                            </div>
                        </div>

                        @* <div class="mb-5 d-flex flex-column">
                            <div class="mb-3 d-flex">
                                <div>
                                    <button type="button" class="customer-contact-role-btn bg-white" id="customer-end-user-contact-btn" value="End User">
                                        End User
                                    </button>
                                </div>

                                <div>
                                    <button type="button" class="customer-contact-role-btn bg-white" id="customer-purchasing-contact-btn" value="Purchasing">
                                        Purchasing
                                    </button>
                                </div>

                                <div>
                                    <button type="button" class="customer-contact-role-btn bg-white" id="customer-it-engineer-contact-btn" value="IT Engineer">
                                        IT Engineer
                                    </button>
                                </div>
                            </div>

                            <div class="add-customer-contact-btn-container">
                                <button type="button" class="bg-white border-1" id="add-customer-contact-btn">
                                    Add
                                </button>
                            </div>

                            <div class="add-customer-contact-form-pop-up">
                                <div class="d-flex align-items-center gap-1" style="font-size: 20px;">
                                    <i class='bx bx-info-circle fw-bold'></i>
                                    <span class="fw-bold">
                                        User Information
                                    </span>

                                    <i class='bx bx-chevron-right' id="customer-contact-form-close-chevron"></i>
                                    <i class='bx bx-chevron-down' id="customer-contact-form-open-chevron"></i>
                                </div>

                                <hr />

                                <div class="show-customer-contact-form-pop-up">
                                    <div class="mb-5 fw-bold">
                                        <span id="customer-contact-role-information-title"></span>&nbsp;Information
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Customer Name
                                        </label>
                                        <input class="form-control" placeholder="Customer Name" required />
                                    </div>

                                    <div class="mb-5">
                                        <label class="form-label form-label-bold">
                                            Profile Picture
                                        </label>
                                        <input class="form-control" type="file" id="customer-contact-profile-picture" name="attachment">
                                    </div>

                                    <div class="mb-5 row">
                                        <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                            <i class='bx bx-info-circle fw-bold'></i>
                                            <span class="fw-bold">
                                                Basic Information
                                            </span>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Email
                                                </label>
                                                <input type="email" class="form-control" id="customer-contact-email" placeholder="Email">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Phone
                                                </label>
                                                <input type="tel" class="form-control" id="customer-contact-phone" placeholder="Phone">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Mobile
                                                </label>
                                                <input type="tel" class="form-control" id="customer-contact-mobile" placeholder="Mobile">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Title
                                                </label>
                                                <input type="text" class="form-control" id="customer-contact-title" placeholder="Title">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Job Position
                                                </label>
                                                <input type="text" class="form-control" id="customer-contact-job-position" placeholder="Job Position">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Notes
                                                </label>
                                                <input type="text" class="form-control" id="customer-contact-notes" placeholder="Notes">
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>

                                <div class="d-flex justify-content-center gap-2">
                                    <button type="button" class="btn btn-success">
                                        Add User
                                    </button>

                                    <button type="button" class="btn btn-danger add-customer-contact-form-close-btn">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div> *@

                        <div class="mb-5 d-flex flex-column">
                            <div class="customer-contact-tabs mb-3 d-flex" role="tablist" aria-label="Customer Contact Tabs">
                                <button type="button" class="customer-contact-tab active" role="tab" aria-selected="true" aria-controls="customer-end-user-panel" id="tab-end-user" tabindex="0">
                                    End User
                                </button>
                                <button type="button" class="customer-contact-tab" role="tab" aria-selected="false" aria-controls="customer-purchasing-panel" id="tab-purchasing" tabindex="-1">
                                    Purchasing
                                </button>
                                <button type="button" class="customer-contact-tab" role="tab" aria-selected="false" aria-controls="customer-it-engineer-panel" id="tab-it-engineer" tabindex="-1">
                                    IT Engineer
                                </button>
                            </div>

                            <div class="add-customer-contact-btn-container">
                                <button type="button" class="bg-white border-1" id="add-customer-contact-btn">
                                    Add
                                </button>
                            </div>
                            
                            <div class="mx-4 add-customer-contact-form-pop-up">
                                <div class="d-flex align-items-center gap-1" style="font-size: 20px;">
                                    <i class='bx bx-info-circle fw-bold'></i>
                                    <span class="fw-bold">
                                        User Information
                                    </span>

                                    <i class='bx bx-chevron-down ms-auto' id="customer-contact-form-open-chevron"></i>
                                </div>

                                <hr />

                                <div class="show-customer-contact-form-pop-up">
                                    <div id="customer-end-user-panel" class="customer-contact-panel" role="tabpanel" aria-labelledby="tab-end-user">
                                        <div class="mb-5 d-flex align-items-center gap-1" style="font-size: 20px;">
                                            <span class="fw-bold">
                                                End User Information
                                            </span>

                                            <i class='bx bx-chevron-right ms-auto' id="customer-contact-information-form-close-chevron"></i>
                                            <i class='bx bx-minus ms-auto' id="customer-contact-information-form-open-minus"></i>
                                        </div>

                                        <div class="show-customer-contact-information-form-pop-up">
                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">Customer Name</label>
                                                <input class="form-control" placeholder="Customer Name" required />
                                            </div>

                                            <div class="mb-5">
                                                <label class="form-label form-label-bold">Profile Picture</label>
                                                <input class="form-control" type="file" name="enduser-profile-picture">
                                            </div>

                                            <div class="mb-5 row">
                                                <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                                    <i class='bx bx-info-circle fw-bold'></i>
                                                    <span class="fw-bold">
                                                        Basic Information
                                                    </span>
                                                </div>

                                                <div class="col-12 col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Email</label>
                                                        <input type="email" class="form-control" placeholder="Email">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Phone</label>
                                                        <input type="tel" class="form-control" placeholder="Phone">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Mobile</label>
                                                        <input type="tel" class="form-control" placeholder="Mobile">
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Title</label>
                                                        <input type="text" class="form-control" placeholder="Title">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Job Position</label>
                                                        <input type="text" class="form-control" placeholder="Job Position">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Notes</label>
                                                        <input type="text" class="form-control" placeholder="Notes">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-start">
                                                <button type="button" class="btn btn-success">Add User</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="customer-purchasing-panel" class="customer-contact-panel" role="tabpanel" aria-labelledby="tab-purchasing" hidden>
                                        <div class="mb-5 fw-bold">Purchasing Information</div>

                                        <div class="mb-3">
                                            <label class="form-label form-label-bold">Customer Name</label>
                                            <input class="form-control" placeholder="Customer Name" required />
                                        </div>

                                        <div class="mb-5">
                                            <label class="form-label form-label-bold">Profile Picture</label>
                                            <input class="form-control" type="file" name="purchasing-profile-picture">
                                        </div>

                                        <div class="mb-5 row">
                                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                                <i class='bx bx-info-circle fw-bold'></i>
                                                <span class="fw-bold">
                                                    Basic Information
                                                </span>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Email</label>
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Phone</label>
                                                    <input type="tel" class="form-control" placeholder="Phone">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Mobile</label>
                                                    <input type="tel" class="form-control" placeholder="Mobile">
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Title</label>
                                                    <input type="text" class="form-control" placeholder="Title">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Job Position</label>
                                                    <input type="text" class="form-control" placeholder="Job Position">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Notes</label>
                                                    <input type="text" class="form-control" placeholder="Notes">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-start">
                                            <button type="button" class="btn btn-success">Add User</button>
                                        </div>
                                    </div>

                                    <div id="customer-it-engineer-panel" class="customer-contact-panel" role="tabpanel" aria-labelledby="tab-it-engineer" hidden>
                                        <div class="mb-5 fw-bold">IT Engineer Information</div>

                                        <div class="mb-3">
                                            <label class="form-label form-label-bold">Customer Name</label>
                                            <input class="form-control" placeholder="Customer Name" required />
                                        </div>

                                        <div class="mb-5">
                                            <label class="form-label form-label-bold">Profile Picture</label>
                                            <input class="form-control" type="file" name="itengineer-profile-picture">
                                        </div>

                                        <div class="mb-5 row">
                                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                                <i class='bx bx-info-circle fw-bold'></i>
                                                <span class="fw-bold">
                                                    Basic Information
                                                </span>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Email</label>
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Phone</label>
                                                    <input type="tel" class="form-control" placeholder="Phone">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Mobile</label>
                                                    <input type="tel" class="form-control" placeholder="Mobile">
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Title</label>
                                                    <input type="text" class="form-control" placeholder="Title">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Job Position</label>
                                                    <input type="text" class="form-control" placeholder="Job Position">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label form-label-bold">Notes</label>
                                                    <input type="text" class="form-control" placeholder="Notes">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-start">
                                            <button type="button" class="btn btn-success">Add User</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" class="btn btn-success add-customer-form-save-btn">
                                Save
                            </button>

                            <button class="btn btn-danger add-customer-form-close-btn">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        @* <div>
            <button id="request-item-to-purchasing-option">
                Request to Purchasing (Temporary Button)
            </button>
        </div>

        <div class="request-item-to-purchasing-form-pop-up px-5 py-3">
            <form method="post" enctype="multipart/form-data" class="request-item-to-purchasing-form">
                <div class="mb-4 d-flex" style="font-size: 25px;">
                    <span class="fw-bold">
                        Request to Purchasing
                    </span>

                    <div class="request-item-to-purchasing-form-close-btn">
                        <i class='bx bx-x fw-bold' style="border: 1px solid #000; border-radius: 3px;"></i>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Item Name
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Item Description
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Quantity
                            </label>
                            <input type="number" min="1" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                UoM
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Detail
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-5">
                            <label class="form-label form-label-bold">
                                Attachment
                            </label>
                            <input class="form-control" type="file" id="request-item-to-purchasing-attachment" name="attachment">
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button class="btn btn-danger request-item-to-purchasing-form-cancel-btn">
                                Cancel
                            </button>

                            <button class="btn btn-success">
                                Sent
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div> *@

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="input-field my-4">
                        <input type="text" class="input-float" style="width: 100%" id="rfq-name" required spellcheck="false">
                        <label>RFQ Name</label>
                    </div>

                    <div class="row mt-5 mb-4 mx-1">
                        <div class="col-12 col-sm-6">
                            <!-- Company Name -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="company-name" class="form-label form-label-bold mb-0">Company Name</label>
                                    </div>
                                    <div class="wrapp company-dropdown" style="width: 70%;">
                                        <div class="select-btn">
                                            <span></span>
                                            <i class='bx bx-chevron-down'></i>
                                        </div>
                                        <div class="content-search">
                                            <div class="search">
                                                <i class="bx bx-search-alt-2"></i>
                                                <input type="text" placeholder="Search" />
                                            </div>
                                            <ul class="option" style="margin-bottom: 10px;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End User -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="end-user" class="form-label form-label-bold mb-0">End User</label>
                                    </div>
                                    <input type="text" class="form-control1 mb-0" style="width:70%" id="end-user">
                                </div>
                            </div>

                            <!-- Request Date -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="request-date" class="form-label form-label-bold mb-0">Request Date</label>
                                    </div>
                                    <input type='date' class="form-control1 mb-0" style="width:70%" id='request-date'>
                                </div>
                            </div>

                            <!-- Due Date -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for='due-date' class='form-label form-label-bold mb-0'>Due Date</label>
                                    </div>
                                    <input type='date' class="form-control1 mb-0" style="width:70%" id='due-date'>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <!-- Resource Dropdown -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="resource" class="form-label form-label-bold mb-0">Resource</label>
                                    </div>
                                    <div class="wrapp resource-dropdown" style="width: 70%;">
                                        <div class="select-btn">
                                            <span></span>
                                            <i class='bx bx-chevron-down'></i>
                                        </div>
                                        <div class="content-search">
                                            <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                <li onclick="updateResource(this)">Email</li>
                                                <li onclick="updateResource(this)">Whatsapp</li>
                                                <li onclick="updateResource(this)">Telephone</li>
                                                <li class="has-sub" id="resource-personal-option">
                                                    Personal
                                                    <ul class="sub-option" id="resource-personal-sub-dropdown">
                                                        <li class="has-sub" id="resource-personal-email">
                                                            Email
                                                            <ul class="sub-option second-level">
                                                                <li onclick="updateResourcePersonalUser(this)">Seheni</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Nadya</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Meli</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Elpera</li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub" id="resource-personal-phone">
                                                            Phone
                                                            <ul class="sub-option second-level">
                                                                <li onclick="updateResourcePersonalUser(this)">Seheni</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Nadya</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Meli</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Elpera</li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub" id="resource-personal-direct">
                                                            Direct
                                                            <ul class="sub-option second-level">
                                                                <li onclick="updateResourcePersonalUser(this)">Seheni</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Nadya</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Meli</li>
                                                                <li onclick="updateResourcePersonalUser(this)">Elpera</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Category Dropdown -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="category" class="form-label form-label-bold mb-0">Category</label>
                                    </div>
                                    <div class="wrapp project-type-dropdown" style="width: 70%;">
                                        <div class="select-btn">
                                            <span></span>
                                            <i class='bx bx-chevron-down'></i>
                                        </div>
                                        <div class="content-search">
                                            <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                <li>Project</li>
                                                <li>Mid Project</li>
                                                <li>Non-Project</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Opportunity Dropdown -->
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="opportunity" class="form-label form-label-bold mb-0">Opportunity</label>
                                    </div>
                                    <div class="wrapp" id="opportunity-dropdown" style="width: 70%;">
                                        <div class="select-btn">
                                            <span></span>
                                            <i class='bx bx-chevron-down'></i>
                                        </div>
                                        <div class="content-search">
                                            <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                <li>General</li>
                                                <li>Bundle Installation</li>
                                                <li>Professional Service</li>
                                                <li>Service Center</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h5 class="note-title underline mb-4">Notes</h5>
                    <div class="row mx-md-4">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 190px">
                                        <label for="budget" class="form-label form-label-bold pe-4">Budget (IDR)</label>
                                    </div>
                                    <input type="number" class="form-control1" style="width:50%" id="budget">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label for="leadtime" class="form-label form-label-bold">Leadtime</label>
                                    </div>
                                    <input type='text' class='form-control1' style='width:100%' id='leadtime'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabel-item col-12">
                        <table class="table item">
                            <thead class="table-light">
                                <tr>
                                    <th>No</th>
                                    <th>Item Name</th>
                                    <th>Item Description</th>
                                    <th>Qty</th>
                                    <th>UoM</th>
                                    <th>Budget</th>
                                    <th>Leadtime</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="itemTableBody">
                                <tr>
                                    <td>1.</td>
                                    <td class="name"><input type='text' class='size form-control1'></td>
                                    <td class="desc"><input type='text' class='size form-control1'></td>
                                    <td class="qty"><input type='number' class='size form-control1' value="0"></td>
                                    <td class="uom"><input type='text' class='size tengah form-control1'></td>
                                    <td class="budget"><input type='number' class='size form-control1'></td>
                                    <td class="leadtime"><input type='text' class='size tengah form-control1'></td>
                                    <td class="delete"><button onclick="removeRow(this)" class="btn"><i class='bx bx-trash'></i></button>
                                </tr>
                                <!-- Baris akan ditambahkan di sini -->
                            </tbody>

                        </table>
                    </div>
                    <button type="button" id="addRowBtn" class="btn btn-dark mb-5 mt-1">Add Row</button>

                    <hr>

                    <div class="wrapper-2 my-4">
                        <div class= "form-upload">
                            <input class="file-input" type="file" name="file" hidden>
                            <div class="rounding"><i class="fa-solid fa-paperclip"></i></div>
                            <div class="desc">
                                <p class="mt-3">Attachment <span class="attachment-count">0</span></p>

                                <p class="description">Drop files here. You can upload maximum 5 files, 5MB Each</p>
                            </div>
                        </div>

                        <div id="attached-files" style="display: none;">
                            <!-- File info divs will be added here dynamically -->
                        </div>
                        <section class="progress-area"></section>
                        <section class="uploaded-area"></section>
                    </div>
                </div>

                <div class="col-12 mb-5">
                    <h4 class="delegation-title underline">Delegation</h4>
                </div>

                <div class="tabel item-list col-12">
                    <h5 class="item-list-title underline">Item List</h5>
                    <table class="table item-list">
                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>U/Price</th>
                                <th>Notes</th>
                                <th>Details</th>
                                <th>Our Warranty</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itemListTableBody">
                            <tr>
                                <td>1.</td>
                                <td class="name"><input type='text' class='size form-control1'></td>
                                <td class="desc"><input type='text' class='size form-control1'></td>
                                <td class="qty"><input type='number' class='size form-control1' value="0"></td>
                                <td class="uom"><input type='text' class='size tengah form-control1'></td>
                                <td class="price"><input type='number' class='size form-control1'></td>
                                <td class="notes"><input type='text' class='size form-control1'></td>
                                <td class="details"><input type='text' class='size form-control1'></td>
                                <td class="warranty"><input type='text' class='size form-control1'></td>
                                <td class="amount"><input type='number' class='size form-control1'></td>
                                <td class="delete"><button onclick="removeRowItemList(this)" class="btn"><i class='bx bx-trash'></i></button></td>
                            </tr>
                            <!-- Baris akan ditambahkan di sini -->
                        </tbody>
                    </table>

                    <button type="button" id="addRowBtnItem" class="btn btn-dark mb-5 mt-1">Add Item</button>
                </div>

                <div class="tabel req-item col-12">
                    <h5 class="item-list-title underline">Request Item to Purchasing</h5>
                    <table class="table item-list">
                        <thead class="table-light">
                            <tr>
                                <th>Action</th>
                                <th>No</th>
                                <th>Req Code</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>Reason for Request</th>
                                <th>Notes (Internal)</th>
                                <th>PIC</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="reqTableBody">
                            <tr>
                                <td class="action"><button onclick="" class="btn"><i class='bx bx-plus-circle'></i></button></td>
                                <td class="nomor" style="padding: 14px 9px;">1</td>
                                <td class="reqCode"><input type='text' class='tengah size form-control1'></td>
                                <td class="name"><input type='text' class='size form-control1'></td>
                                <td class="desc"><input type='text' class='size form-control1'></td>
                                <td class="qty"><input type='number' class='size form-control1' value="0"></td>
                                <td class="uom"><input type='text' class='size tengah form-control1'></td>
                                <td class="reason"><input type='text' class='size form-control1'></td>
                                <td class="notes"><input type='text' class='size form-control1'></td>
                                <td class="pic"><input type='text' class='size form-control1'></td>
                                <td class="status"><input type='text' class='size form-control1'></td>

                                <td class="delete"><button onclick="removeRowReq(this)" class="btn"><i class='bx bx-trash'></i></button></td>
                            </tr>
                            <!-- Baris akan ditambahkan di sini -->
                        </tbody>
                    </table>

                    <button type="button" id="addRowBtnReq" class="btn btn-dark mb-5 mt-1">Add Item</button>
                </div>

                <div class="col-12 ">
                    <div class="card mt-2">
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-dark">Save</button>
                            <button type="button" class="btn btn-danger">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
