@model BQuick.Models.RFQ

@{
    ViewData["Title"] = "Create RFQ";
}

<main class="content mt-3 mx-md-5">
    <div class="container d-flex flex-column align-items-center">
        <div class="header mt-4 mb-4 w-100" style="font-size: 29px;">
            <a class="text-decoration-none" asp-controller="RFQ" asp-action="Index"><span class="text-danger fw-bold">RFQ</span></a>&nbsp;&gt;&nbsp;<span class="tes fw-bold text-decoration">Create RFQ</span>
            <span class="float-sm-end fw-bold">@ViewBag.RFQCode</span>
        </div>

        <div>
            <button id="create-customer-option">
                Create Customer (Temporary Button)
            </button>
        </div>

        <div class="add-customer-form-pop-up px-5 py-3">
            <form asp-action="AddCustomer" method="post" enctype="multipart/form-data" class="add-customer-form">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Company Name
                            </label>
                            <input class="form-control" placeholder="Company Name" required />
                        </div>

                        <div class="mb-5">
                            <label class="form-label form-label-bold">
                                Profile Picture
                            </label>
                            <input class="form-control" type="file" id="customer-profile-picture" name="attachment">
                        </div>

                        <div class="mb-5 row">
                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                <i class='bx bx-info-circle fw-bold'></i>
                                <span class="fw-bold">
                                    Basic Information
                                </span>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Fax
                                    </label>
                                    <input type="tel" class="form-control" id="customer-fax" placeholder="Fax">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Currency default
                                    </label>
                                    <select class="form-select">
                                        <option value="" hidden>Currency default</option>
                                        <option value="IDR">IDR</option>
                                        <option value="USD">USD</option>
                                        <option value="SGD">SGD</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Phone
                                    </label>
                                    <input type="tel" class="form-control" id="customer-phone" placeholder="Phone">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Mobile
                                    </label>
                                    <input type="tel" class="form-control" id="customer-mobile" placeholder="Mobile">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Account Receivable
                                    </label>
                                    <input type="text" class="form-control" id="customer-account-receivable" placeholder="Account Receivable">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Email
                                    </label>
                                    <input type="email" class="form-control" id="customer-email" placeholder="Email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        TOP
                                    </label>
                                    <select class="form-select">
                                        <option value="" hidden>TOP</option>
                                        <option value="30 days">30 days</option>
                                        <option value="45 days">45 days</option>
                                        <option value="60 days">60 days</option>
                                        <option value="65 days">65 days</option>
                                        <option value="90 days">90 days</option>
                                        <option value="Cash in Advance">Cash in Advance</option>
                                        <option value="Cash before Delivery">Cash before Delivery</option>
                                        <option value="Cash on Delivery">Cash on Delivery</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        NPWP
                                    </label>
                                    <input type="text" class="form-control" id="customer-npwp" placeholder="NPWP">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Account Payable
                                    </label>
                                    <input type="text" class="form-control" id="customer-account-payable" placeholder="Account Payable">
                                </div>
                            </div>

                            <div>
                                <label for="formFile" class="form-label form-label-bold">Attachment</label>
                                <input class="form-control" type="file" id="formFile" name="attachment">
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                <span class="fw-bold">
                                    Address
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Billing Address
                                        </label>
                                        <input type="text" class="form-control" id="customer-billing-address" placeholder="Billing Address">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Street
                                        </label>
                                        <input type="text" class="form-control" id="customer-billing-street" placeholder="Street">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    City
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-city" placeholder="City">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Country
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-country" placeholder="Country">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Province
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-province" placeholder="Province">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    ZIP Code
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-zip-code" placeholder="ZIP Code">
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center gap-2">
                                            <input type="checkbox" class="customer-address-checkboxes" id="customer-address-details-checkbox" />
                                            <label>
                                                Detail
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Shipping Address
                                        </label>
                                        <input type="text" class="form-control" id="customer-shipping-address" placeholder="Shipping Address">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Street
                                        </label>
                                        <input type="text" class="form-control" id="customer-shipping-street" placeholder="Street">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    City
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-city" placeholder="City">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Country
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-country" placeholder="Country">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Province
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-province" placeholder="Province">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    ZIP Code
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-zip-code" placeholder="ZIP Code">
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center gap-2">
                                            <input type="checkbox" class="customer-address-checkboxes" id="match-customer-billing-address-checkbox" />
                                            <label>
                                                Same With Billing Address
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="d-flex align-items-center gap-1" style="font-size: 20px;">
                                <i class='bx bx-info-circle fw-bold'></i>
                                <span class="fw-bold">
                                    Bank Information
                                </span>
                            </div>
                        </div>

                        <div class="mb-5 d-flex flex-column">
                            <div class="mb-3 d-flex">
                                <div>
                                    <button type="button" class="customer-contact-role-btn bg-white" id="customer-end-user-contact-btn" value="End User">
                                        End User
                                    </button>
                                </div>

                                <div>
                                    <button type="button" class="customer-contact-role-btn bg-white" id="customer-purchasing-contact-btn" value="Purchasing">
                                        Purchasing
                                    </button>
                                </div>

                                <div>
                                    <button type="button" class="customer-contact-role-btn bg-white" id="customer-it-engineer-contact-btn" value="IT Engineer">
                                        IT Engineer
                                    </button>
                                </div>
                            </div>

                            <div class="add-customer-contact-btn-container">
                                <button type="button" class="bg-white border-1" id="add-customer-contact-btn">
                                    Add
                                </button>
                            </div>

                            <div class="add-customer-contact-form-pop-up">
                                <div class="d-flex align-items-center gap-1" style="font-size: 20px;">
                                    <i class='bx bx-info-circle fw-bold'></i>
                                    <span class="fw-bold">
                                        User Information
                                    </span>

                                    <i class='bx bx-chevron-right' id="customer-contact-form-close-chevron"></i>
                                    <i class='bx bx-chevron-down' id="customer-contact-form-open-chevron"></i>
                                </div>

                                <hr />

                                <div class="show-customer-contact-form-pop-up">
                                    <div class="mb-5 fw-bold">
                                        <span id="customer-contact-role-information-title"></span>&nbsp;Information
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Customer Name
                                        </label>
                                        <input class="form-control" placeholder="Customer Name" required />
                                    </div>

                                    <div class="mb-5">
                                        <label class="form-label form-label-bold">
                                            Profile Picture
                                        </label>
                                        <input class="form-control" type="file" id="customer-contact-profile-picture" name="attachment">
                                    </div>

                                    <div class="mb-5 row">
                                        <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                            <i class='bx bx-info-circle fw-bold'></i>
                                            <span class="fw-bold">
                                                Basic Information
                                            </span>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Email
                                                </label>
                                                <input type="email" class="form-control" id="customer-contact-email" placeholder="Email">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Phone
                                                </label>
                                                <input type="tel" class="form-control" id="customer-contact-phone" placeholder="Phone">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Mobile
                                                </label>
                                                <input type="tel" class="form-control" id="customer-contact-mobile" placeholder="Mobile">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Title
                                                </label>
                                                <input type="text" class="form-control" id="customer-contact-title" placeholder="Title">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Job Position
                                                </label>
                                                <input type="text" class="form-control" id="customer-contact-job-position" placeholder="Job Position">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label form-label-bold">
                                                    Notes
                                                </label>
                                                <input type="text" class="form-control" id="customer-contact-notes" placeholder="Notes">
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>

                                <div class="d-flex justify-content-center gap-2">
                                    <button type="button" class="btn btn-success">
                                        Add User
                                    </button>

                                    <button type="button" class="btn btn-danger add-customer-contact-form-close-btn">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button class="btn btn-success">
                                Save
                            </button>

                            <button class="btn btn-danger add-customer-form-close-btn">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <button id="request-item-to-purchasing-option">
                Request to Purchasing (Temporary Button)
            </button>
        </div>

        <div class="request-item-to-purchasing-form-pop-up px-5 py-3">
            <form asp-action="RequestItemToPurchasing" method="post" enctype="multipart/form-data" class="request-item-to-purchasing-form">
                <div class="mb-4 d-flex" style="font-size: 25px;">
                    <span class="fw-bold">
                        Request to Purchasing
                    </span>

                    <div class="request-item-to-purchasing-form-close-btn">
                        <i class='bx bx-x fw-bold' style="border: 1px solid #000; border-radius: 3px;"></i>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Item Name
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Item Description
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Quantity
                            </label>
                            <input type="number" min="1" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                UoM
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Detail
                            </label>
                            <input class="form-control" required />
                        </div>

                        <div class="mb-5">
                            <label class="form-label form-label-bold">
                                Attachment
                            </label>
                            <input class="form-control" type="file" id="request-item-to-purchasing-attachment" name="attachment">
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button class="btn btn-danger request-item-to-purchasing-form-cancel-btn">
                                Cancel
                            </button>

                            <button class="btn btn-success">
                                Sent
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="my-4">
                        <label asp-for="RFQName" class="form-label form-label-bold">RFQ Name</label>
                        <input asp-for="RFQName" class="form-control" required />
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label form-label-bold">Company Name</label>
                                <select asp-items="ViewBag.Customers" class="form-select">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label form-label-bold">End User</label>
                                <input class="form-control" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="RequestDate" class="form-label form-label-bold">Request Date</label>
                                <input asp-validation-for="RequestDate" class="form-control" type="date" required />
                            </div>

                            <div class="mb-3">
                                <label asp-for="DueDate" class="form-label form-label-bold">Due Date</label>
                                <input asp-for="DueDate" class="form-control" type="date" required />
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label form-label-bold">Resource</label>
                                <select asp-items="ViewBag.Users" class="form-select">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Category" class="form-label form-label-bold">Category</label>
                                <select asp-for="Category" class="form-select" required>
                                    <option value="" hidden></option>
                                    <option value="Project">Project</option>
                                    <option value="Mid Project">Mid Project</option>
                                    <option value="Non-Project">Non-Project</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="opportunity" class="form-label form-label-bold">Opportunity</label>
                                <select id="opportunity" class="form-select">
                                    <option value="" hidden></option>
                                    <option value="General">General</option>
                                    <option value="Bundle Installation">Bundle Installation</option>
                                    <option value="Professional Service">Professional Service</option>
                                    <option value="Service Center">Service Center</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <h5 class="fw-bold underline mt-5 mb-4">Notes</h5>

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label form-label-bold">Budget</label>
                                <input class="form-control" type="number" min="0">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label for="leadtime" class="form-label form-label-bold">Leadtime</label>
                                <input type="text" class="form-control" id="leadtime">
                            </div>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>Budget</th>
                                <th>Leadtime</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Item.ItemName"></td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Item.Description"></td>
                                <td><input type="number" class="form-control" name="RFQItems[0].Quantity" value="1" min="1"></td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Item.UnitOfMeasure"></td>
                                <td><input type="number" class="form-control" name="RFQItems[0].UnitPrice" step="1" min="0"></td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Leadtime"></td>
                                <td><button type="button" class="btn btn-danger btn-sm remove-item"><i class="bx bx-trash text-white"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" id="addItem">Add Item</button>

                    <hr>

                    <div class="mb-3">
                        <label for="formFile" class="form-label form-label-bold">Attachment</label>
                        <input class="form-control" type="file" id="formFile" name="attachment">
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-primary">Delegation</button>
                    <button type="button" class="btn btn-primary">Item List</button>
                </div>

                <div class="col-sm-4">
                    <div class="card mt-2 border-0">
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
