@model BQuick.Models.RFQ

@{
    ViewData["Title"] = "Create RFQ";
}

<main class="content mt-3 mx-md-5">
    <div class="container ">
        <div class="header mt-4 mb-4" style="font-size: 29px;">
            <a class="text-decoration-none" asp-controller="RFQ" asp-action="Index"><span class="text-danger fw-bold">RFQ</span></a> &gt; <span class="tes fw-bold text-decoration">Create RFQ</span>
            <span class="float-sm-end fw-bold">@ViewBag.RFQCode</span>
        </div>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <div class="my-4">
                        <label asp-for="RFQName" class="form-label form-label-bold">RFQ Name</label>
                        <input asp-for="RFQName" class="form-control" required />
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label asp-for="Customer.CompanyName" class="form-label form-label-bold">Company Name</label>
                                <select asp-for="CustomerID" asp-items="ViewBag.Customers" class="form-select">
                                    <option value="">-- Select Company --</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Customer.ContactPerson" class="form-label form-label-bold">End User</label>
                                <input asp-for="Customer.ContactPerson" class="form-control" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="RequestDate" class="form-label form-label-bold">Request Date</label>
                                <input asp-validation-for="RequestDate" class="form-control" type="date" required />
                            </div>

                            <div class="mb-3">
                                <label asp-for="DueDate" class="form-label form-label-bold">Due Date</label>
                                <input asp-for="DueDate" class="form-control" type="date" required />
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label asp-for="AssignedTo" class="form-label form-label-bold">Resource</label>
                                <select asp-for="AssignedTo" asp-items="ViewBag.Users" class="form-select">
                                    <option value="">-- Select Resource --</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Category" class="form-label form-label-bold">Category</label>
                                <select asp-for="Category" class="form-select" required>
                                    <option value="">-- Select Category --</option>
                                    <option value="Project">Project</option>
                                    <option value="Mid Project">Mid Prokect</option>
                                    <option value="Non-Project">Non-Project</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="opportunity" class="form-label form-label-bold">Opportunity</label>
                                <select id="opportunity" class="form-select">
                                    <option value="">-- Select Opportunity --</option>
                                    <option value="General">General</option>
                                    <option value="Bundle Installation">Bundle Installation</option>
                                    <option value="Professional Service">Professional Service</option>
                                    <option value="Service Center">Service Center</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <h5 class="fw-bold underline mt-5 mb-4">Notes</h5>

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label asp-for="TotalBudget" class="form-label form-label-bold">Budget</label>
                                <input asp-for="TotalBudget" class="form-control" type="number" min="0">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <label for="leadtime" class="form-label form-label-bold">Leadtime</label>
                                <input type="text" class="form-control" id="leadtime">
                            </div>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>Budget</th>
                                <th>Leadtime</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Item.ItemName"></td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Item.Description"></td>
                                <td><input type="number" class="form-control" name="RFQItems[0].Quantity" value="1" min="1"></td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Item.UnitOfMeasure"></td>
                                <td><input type="number" class="form-control" name="RFQItems[0].UnitPrice" step="1" min="0"></td>
                                <td><input type="text" class="form-control" name="RFQItems[0].Leadtime"></td>
                                <td><button type="button" class="btn btn-danger btn-sm remove-item">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" id="addItem">Add Item</button>

                    <hr>

                    <div class="mb-3">
                        <label for="formFile" class="form-label form-label-bold">Attachment</label>
                        <input class="form-control" type="file" id="formFile" name="attachment">
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-primary">Delegation</button>
                    <button type="button" class="btn btn-primary">Item List</button>
                </div>

                <div class="col-sm-4">
                    <div class="card mt-2">
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
