@* @{
    ViewData["Title"] = "CreateRFQ";
}

<main class="contentt px-0">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12-sm-4">
                <div class="card">
                    <div class="card-header">
                        <span class="text-danger fw-bold">RFQ</span> &gt; <span class="tes">Create RFQ</span>   <span class="fw-bold h4" style="margin-left: 60rem;">#RFQYY0000</span>

                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="rfq-name" class="form-label form-label-bold">RFQ Name</label>
                            <input type="text" class="form-control" id="rfq-name">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="company-name" class="form-label form-label-bold">Company Name</label>
                                    <input type="text" class="form-control" id="company-name">
                                </div>
                                <div class="mb-3">
                                    <label for="end-user" class="form-label form-label-bold">End User</label>
                                    <input type="text" class="form-control" id="end-user">
                                </div>
                                <div class="mb-3">
                                    <label for="request-date" class="form-label form-label-bold">Request Date</label>
                                    <input type="date" class="form-control" id="request-date">
                                </div>
                                <div class="mb-3">
                                    <label for="due-date" class="form-label form-label-bold">Due Date</label>
                                    <input type="date" class="form-control" id="due-date">
                                </div>
                                <div class="mb-3">
                                    <label for="notes" class="form-label form-label-bold">Notes</label>
                                    <textarea class="form-control" id="notes" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="budget" class="form-label form-label-bold">Budget</label>
                                    <input type="number" class="form-control" id="budget">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="resource" class="form-label form-label-bold">Resource</label>
                                    <input type="text" class="form-control" id="resource">
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label form-label-bold">Category</label>
                                    <input type="text" class="form-control" id="category">
                                </div>
                                <div class="mb-3">
                                    <label for="opportunity" class="form-label form-label-bold">Opportunity</label>
                                    <input type="text" class="form-control" id="opportunity">
                                </div>
                                <div class="mb-3">
                                    <label for="leadtime" class="form-label form-label-bold">Leadtime</label>
                                    <input type="text" class="form-control" id="leadtime">
                                </div>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Item Name</th>
                                    <th>Item Description</th>
                                    <th>Qty</th>
                                    <th>UoM</th>
                                    <th>Budget</th>
                                    <th>Leadtime</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="number" class="form-control" value="00"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="number" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="button">Add</button>
                        <hr>
                        <div class="mb-3">
                            <label for="formFile" class="form-label form-label-bold">Attachment</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <button type="button" class="btn btn-primary">Delegation</button>
                        <button type="button" class="btn btn-primary">Item List</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



 *@


@{
    ViewData["Title"] = "CreateRFQ";
}

<main class="content mt-3 mx-md-5">
    <div class="container ">
        <div class="header mt-4 mb-4" style="font-size: 29px;">
            <span class="text-danger fw-bold underline">RFQ</span> &gt; <span class="tes fw-bold underline"> Create RFQ</span>   
            <span class="float-sm-end fw-bold">#RFQYY0000</span>

        </div>

        <div class="row">
            <div class="col-12">

                <div class="my-4">
                    <label for="rfq-name" class="form-label form-label-bold">RFQ Name</label>
                    <input type="text" class="form-control" id="rfq-name">
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="company-name" class="form-label form-label-bold">Company Name</label>
                            <input type="text" class="form-control" id="company-name">
                        </div>
                        <div class="mb-3">
                            <label for="end-user" class="form-label form-label-bold">End User</label>
                            <input type="text" class="form-control" id="end-user">
                        </div>
                        <div class="mb-3">
                            <label for="request-date" class="form-label form-label-bold">Request Date</label>
                            <input type="date" class="form-control" id="request-date">
                        </div>
                        <div class="mb-3">
                            <label for="due-date" class="form-label form-label-bold">Due Date</label>
                            <input type="date" class="form-control" id="due-date">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="resource" class="form-label form-label-bold">Resource</label>
                            <input type="text" class="form-control" id="resource">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label form-label-bold">Category</label>
                            <input type="text" class="form-control" id="category">
                        </div>
                        <div class="mb-3">
                            <label for="opportunity" class="form-label form-label-bold">Opportunity</label>
                            <input type="text" class="form-control" id="opportunity">
                        </div>
                    </div>
                </div>
                <h5 class="fw-bold underline mt-5 mb-4">Notes</h5>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="budget" class="form-label form-label-bold">Budget</label>
                            <input type="number" class="form-control" id="budget">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="leadtime" class="form-label form-label-bold">Leadtime</label>
                            <input type="text" class="form-control" id="leadtime">
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Qty</th>
                            <th>UoM</th>
                            <th>Budget</th>
                            <th>Leadtime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="number" class="form-control" value="00"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="number" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" type="button">Add</button>
                <hr>
                <div class="mb-3">
                    <label for="formFile" class="form-label form-label-bold">Attachment</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <button type="button" class="btn btn-primary">Delegation</button>
                <button type="button" class="btn btn-primary">Item List</button>
            </div>
            <div class="col-sm-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



