<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BQuick</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="~/img/logo.svg" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex justify-content-between p-4">
                <div class="sidebar-logo">
                    <a class="bquick-logo" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.svg" alt="BQuick Logo" width="22px" height="20.67px">
                        <span>BQuick</span>
                    </a>
                </div>

                <button class="toggle-btn border-0 wdth" type="button">
                    <i id="icon" class="bx bx-chevrons-right"></i>
                </button>
            </div>

            <div class="role d-flex justify-content-center align-items-center">
                <div class="role-card shadow">
                    <div class="role-header">
                        <div class="role-icon">
                            <i class="bx bx-user-circle"></i>
                            <span>Role</span>
                        </div>
                        <button class="change-btn">Change</button>
                    </div>
                    <p class="mt-2 mb-0">Sales Manager</p>
                    <p class="mb-0">Seheni</p>
                </div>
            </div>

            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Home" asp-action="Index">
                        <i class="bx bxs-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-bar-chart-square"></i>
                        <span>Report</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-user-voice"></i>
                        <span>Request</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
                       aria-expanded="false" aria-controls="auth">
                        <i class="bx bx-objects-vertical-bottom"></i>
                        <span>PreSales</span>
                    </a>

                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="RFQ" asp-action="Index">RFQ</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Quotation</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bxs-objects-vertical-bottom"></i>
                        <span>PostSales</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-notepad"></i>
                        <span>Schedule</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-spreadsheet"></i>
                        <span>Order</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-doughnut-chart"></i>
                        <span>Internal</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-briefcase-alt"></i>
                        <span>Asset</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-network-chart"></i>
                        <span>Partnership</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bx-file"></i>
                        <span>Items</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bxs-contact"></i>
                        <span>Contact</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bx bxs-cog"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="main">
            <nav class="navbar navbar-expand-sm navbar-dark bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand px-2" href="#" style="color:rgb(35, 35, 35);">Halcom Integrated Solution</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <button href="#" data-bs-toggle="dropdown" class="nav-icon border-0 pe-md-0" style="background:none">
                                <img src="https://i.pinimg.com/originals/1c/8e/41/1c8e41e79c16353df53460e1aaad4034.jpg" class="avatar img-fluid" alt="">
                            </button>

                            <div class="dropdown-menu dropdown-menu-end rounded-0 border-0 shadow mt-3">
                                <a href="#" class="dropdown-item">
                                    <i class="bx bx-data"></i>
                                    <span>Analytics</span>
                                </a>

                                <a href="#" class="dropdown-item">
                                    <i class="bx bx-cog"></i>
                                    <span>Setting</span>

                                    <div class="dropdown-divider"></div>

                                    <a href="#" class="dropdown-item">
                                        <i class="bx bx-circle"></i>
                                        <span>Help Center</span>
                                    </a>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="flex-grow-1">
                @RenderBody()
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-body-secondary">
                        <div class="col-6 text-start">
                            <a href="#" class="text-body-secondary">
                                <strong>PT Halcom Integrated Solution</strong>
                            </a>
                        </div>

                        <div class="col-6 text-end text-body-secondary d-none d-md-block">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="text-body-secondary">Contact</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="#" class="text-body-secondary">About</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="#" class="text-body-secondary">Terms & Condition</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
