@{
    ViewData["Title"] = "Request";
}

<main class="content-div mx-3">
    <div class="container-fluid mt-4">
        <div class="d-flex flex-column align-items-center">
            <div class="header mb-4 w-100" style="font-size: 29px;">
                <span class="tes text-decoration page-header">Request</span>
            </div>
        </div>

        <div class="d-flex mb-3 gap-3">
            <div class="input-group" style="width: 400px;">
                <input type="text" id="searchInput" class="form-control border-end-0 shadow-none" placeholder="Search..." onkeyup="search()" />
                <i class='bx bx-search input-group-text bg-white border-start-0' style="font-size: 1rem;"></i>
            </div>
        </div>

        <table class="table table-bordered table-sortable mb-5">
            <thead class="table-dark">
                <tr>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">REQ Code <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Ref Code <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Ref Name <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Purpose <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Request Date & Time <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Detail Location <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Request By <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Action <span class="sort-icons"></span></div></th>
                    <th><div class="d-flex align-items-center justify-content-between w-100 text-white">Status <span class="sort-icons"></span></div></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>REQ000001</td>
                    <td>RFQ240021</td>
                    <td>IT. Procurement in PT. Epson Batam</td>
                    <td>Customer Assignment</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Novi</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <button type="button" class="btn btn-outline-dark d-flex justify-content-center align-items-center" style="height: 30px; width: 60px;">
                                Open
                            </button>
                        </div>
                    </td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="waiting" class="rounded-pill status">Waiting</span></td>
                </tr>
                <tr>
                    <td>REQ######</td>
                    <td>RFQ######</td>
                    <td>Ref Name</td>
                    <td>Purpose</td>
                    <td>Day, DD-MM-YY XX:XX-XX:XX WIB</td>
                    <td>Location</td>
                    <td>Requester Name</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <button type="button" style="border: 0; background: none;"><i class="bx bxs-x-circle" style="color: #ff0000; font-size: 23px;"></i></button>
                            <button type="button" style="border: 0; background: none;"><i class="bx bxs-check-circle" style="color: #36c556; font-size: 23px;"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center flex-column gap-1">
                            <span id="waiting" class="rounded-pill status">Waiting</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>REQ######</td>
                    <td>RFQ######</td>
                    <td>Ref Name</td>
                    <td>Purpose</td>
                    <td>Day, DD-MM-YY XX:XX-XX:XX WIB</td>
                    <td>Location</td>
                    <td>Requester Name</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <button type="button" style="border: 0; background: none;"><i class="bx bxs-x-circle" style="color: #ff0000; font-size: 23px;"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center flex-column gap-1">
                            <span id="reason-review" class="rounded-pill status">Reason Review</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>REQ######</td>
                    <td>RFQ######</td>
                    <td>Ref Name</td>
                    <td>Purpose</td>
                    <td>Day, DD-MM-YY XX:XX-XX:XX WIB</td>
                    <td>Location</td>
                    <td>Requester Name</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <button type="button" style="border: 0; background: none;"><i class="bx bxs-x-circle" style="color: #ff0000; font-size: 23px;"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center flex-column gap-1">
                            <span id="reason-accepted" class="rounded-pill status">Reason Accepted</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>REQ######</td>
                    <td>RFQ######</td>
                    <td>Ref Name</td>
                    <td>Purpose</td>
                    <td>Day, DD-MM-YY XX:XX-XX:XX WIB</td>
                    <td>Location</td>
                    <td>Requester Name</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <button type="button" style="border: 0; background: none;"><i class="bx bxs-x-circle" style="color: #ff0000; font-size: 23px;"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center flex-column gap-1">
                            <span id="reason-rejected" class="rounded-pill status">Reason Rejected</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>REQ######</td>
                    <td>RFQ######</td>
                    <td>Ref Name</td>
                    <td>Purpose</td>
                    <td>Day, DD-MM-YY XX:XX-XX:XX WIB</td>
                    <td>Location</td>
                    <td>Requester Name</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <button type="button" style="border: 0; background: none;"><i class="bx bxs-check-circle" style="color: #36c556; font-size: 23px;"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center flex-column gap-1">
                            <span id="accepted" class="rounded-pill status">Accepted</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

