@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Roboto:ital,wdth,wght@0,96.3,100..900;1,96.3,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #000;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body.pop-up-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bfbfbf;
    opacity: 0.7;
    z-index: 999;
}

body.pop-up-active {
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    color: #000;
}

.toggle-btn {
    width: 30px;
    height: 30px;
    border-radius: 0.425rem;
    background-color: #872509;
    margin-right: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.toggle-btn i {
    color: #fff;
}

.role-card {
    font-weight: 300;
}

.role-card i, .role-card span, .role-card p {
    color: #fff;
}

.role-card {
    position: relative;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #7B0000;
    color: white;
}

.role-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.role-icon {
    font-size: 14px;
}

.change-btn {
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    background-color: #C92A2A;
    color: white;
    font-size: 12px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    background-color: #fff;
    font-family: "Outfit", sans-serif;
    transition: all 0.25s ease-in-out;
}

#sidebar {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    min-width: 81px;
    background-color: #f2f2f2;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    transition: all 0.25s ease-in-out;
}

#sidebar.expand {
    width: 290px;
    min-height: 260px;
}

#sidebar:not(.expand) .sidebar-logo, #sidebar:not(.expand) .role-card, #sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    flex: 11 auto;
    padding: 0.7rem 0;
    z-index: 100;
}

.sidebar-item {
    position: relative;
    margin-bottom: 3%;
}

.sidebar-link {
    text-decoration: none !important;
}

a.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    border-left: 1px solid transparent;
    color: #1b1b1b;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar-link i, .dropdown-item i {
    margin-right: .75rem;
    font-size: 1.1rem;
}

a.sidebar-link:hover {
    border-left: 4px solid #872509;
    background-color: rgba(168, 31, 0, 0.048);
    color: #791f06;
}

#sidebar.expand .sidebar-logo, #sidebar.expand a.sidebar-link span {
    animation: fadeIn .4s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-logo a {
    color: #272727;
    font-size: 1.3rem;
    text-decoration: none !important;
    border-radius: 0.425rem;
    font-weight: 700;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 80px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    min-width: 12rem;
    background-color: #f8eaea;
    color: #000;
    display: none;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-link {
    color: #141414;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    width: 100%;
    max-height: 15em;
    display: block;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    padding: 2px;
    display: inline-block;
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-dropdown .sidebar-link {
    position: relative;
    margin-left: 1.2rem;
    transition: all 0.5s;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-link {
    margin-left: 0;
    color: #121212;
}

.sidebar-dropdown a.sidebar-link::before {
    position: absolute;
    top: 50%;
    left: 0.9rem;
    width: 0.375rem;
    height: 0.125rem;
    background-color: black;
    content: "";
    transform: translateY(-50%);
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover {
    padding-left: 2rem;
    border-left: 4px solid #7B0000;
    background: transparent;
    background-color: #791f0631;
    color: #7d2207;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-link:hover {
    color: #7d2207;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(33, 37,41, .1);
}

.navbar-brand {
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: #232323;
}

.navbar-nav .nav-link:hover {
    color: #848484;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    border: solid 2px #0049dc;
    border-radius: 50%;
}

.content {
    flex: 11auto;
}

footer {
    padding: 1rem .875rem;
    background-color: #f5f5f5;
}

@media(min-width:768px) {
    .input-group-navbar {
        max-width: 320px;
    }

    .input-group-navbar .form-control {
        height: calc(2.44375rem + 2px);
        background-color: #f5f5f5;
        color: #3e4455;
    }

    .input-group-navbar .form-control:focus {
        border: none;
        outline: none;
        background-color: #f5f5f5;
        box-shadow: 0 0 0 0 rgba(255, 255, 255);
    }
    
    .input-group-navbar .btn {
        background-color: #f5f5f5;
        color: #000;
        z-index: 1000;
        cursor: pointer;
    }
    
    .input-group-navbar .btn:active {
        background-color: #f5f5f5;
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        box-shadow: 0.1rem .2rem rgba(0, 0, 0, .05);
    }
}

main .content-div {
    min-height: 100vh;
}

.rfq-link:hover {
    text-decoration: underline;
}

.table > thead tr {
    color: #fff;
    text-align: left;
}

tr.highlight th {
    background-color: #293b5f;
    color: #fff;
}

.status {
    display: flex;
    width: 10rem;
    justify-content: center;
    align-items: center;
}

#open {
    background-color: #14d5ff;
}

#waiting-purc {
    background-color: #ff8600;
}

#waiting-discuss, #waiting-report {
    background-color: #004eec;
    color: #fff;
}

#waiting-pic {
    background-color: #ff00c4;
}

#ready-to-submit {
    background-color: #ffc000;
}

.table-sortable th {
    cursor: pointer;
}

th.th-sort-asc::after {
    content: " ▲";
}

th.th-sort-desc::after {
    content: " ▼";
}

.form-label {
    font-weight: 600;
    font-size: 17px;
}

.customer-address-checkboxes {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
}

.customer-address-checkboxes:checked {
    background-color: #39c337;
    border: 0px solid #39c337;
    position: relative;
}

.customer-address-checkboxes:checked::after {
    content: '\2714';
    font-size: 14px;
    color: #fcffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-customer-contact-btn {
    width: 43px;
    border-radius: 3px;
    font-weight: 500;
}

.add-customer-form-pop-up, .request-item-to-purchasing-form-pop-up {
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 7px;
    background: #fff;
    overflow-y: scroll;
    width: 80vw;
    height: 80vh;
    display: none;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.add-customer-form-pop-up.active, .request-item-to-purchasing-form-pop-up.active {
    display: block;
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.show-customer-contact-information-form-pop-up {
    display: none;
}

    .show-customer-contact-information-form-pop-up.active {
        display: block;
    }


.customer-address-details {
    display: none;
}

.customer-address-details.active {
    display: block;
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.customer-contact-tabs {
    border-bottom: 1px solid #ccc;
}

.customer-contact-tab {
    background: #fff;
    border: none;
    width: 125px;
    padding: 8px 0 8px 0;
    font-weight: 500;
    color: #b0b0b0;
    cursor: pointer;
    transition: border-bottom 0.2s, color 0.2s, background 0.2s;
    border-radius: 7px 7px 0 0;
}

.customer-contact-tab.active,
.customer-contact-tab[aria-selected="true"] {
    border-bottom: 3px solid #000;
    color: #000;
    font-weight: bold;
    background: #eaeaea;
}

@media (max-width: 600px) {
    .customer-contact-tabs {
        flex-direction: column;
    }

    .customer-contact-tab {
        border-radius: 7px 7px 7px 7px;
        width: 100%;
    }
}

.request-item-to-purchasing-form-close-btn {
    position: absolute;
    right: 12px;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

h5.note-title {
    font-weight: bold;
}

.option {
    position: relative;
}

.option .has-sub {
    position: relative;
}

.option .sub-option {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1.5px solid #8e8e8e;
    border-radius: 5px;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
    z-index: 100;
    padding-left: 0;
    display: none;
}

.option .sub-option li {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
}

.option .sub-option .has-sub {
    position: relative;
}

.option .sub-option.second-level {
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 110;
}

.option .has-sub.active > .sub-option {
    display: block;
}

.option .sub-option .has-sub.active > .second-level {
    display: block;
}

.option li, select-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn {
    height: 40px;
    font-size: 15px;
    display: flex;
    padding: 8px 14px;
    background: #fff;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.7px solid #808080;
}

.select-btn i {
    font-size: 18px;
    color: #000;
    transition: transform 0.15s linear;
}

.content-search {
    display: none;
    margin-top: 6px;
    background: #fff;
    border-radius: 5px;
    border: solid 1.5px #8e8e8e;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapp.active .content-search, .wrapp:valid {
    display: block;
    position: absolute;
    animation: appear;
    animation-duration: 0.5s;
}

.wrapp.active .select-btn i {
    transform: rotate(-180deg);
}

.content-search .search {
    position: relative;
}

.search {
    margin: 10px;
}

.search i {
    left: 12px;
    color: #999;
    font-size: 18px;
    line-height: 31px;
    position: absolute;
}

.search input {
    height: 31px;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.content-search .option {
    margin-top: 10px;
    max-height: 235px;
    overflow-y: auto;
    padding-left: 1rem;
}

.option li {
    height: 47px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 15px;
}

.select-btn:hover, .select-btn:focus {
    padding: 8px 15px;
    background-color: #f2f2f2;
    border: solid 1.6px #808080;
    border-radius: 7px;
}

.option li:hover, li.selected {
    background: #f2f2f2;
}

.wrapp.resource-personal-dropdown {
    display: none;
}

.wrapp.resource-personal-dropdown.active {
    display: block;
}

.wrapp.resource-dropdown .content-search,
.wrapp.resource-dropdown .option,
.wrapp.resource-dropdown .has-sub {
    overflow: visible !important;
}

.wrapp {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.select-btn,
.content-search {
    width: 100%;
    box-sizing: border-box;
}

.content-search {
    z-index: 1;
}

.form-control1 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.6px solid #8e8e8e;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.7rem;
    overflow-x: scroll;
}

.form-control1:focus {
    background-color: #fff;
    border: solid 1px #808080;
    outline: 0;
    box-shadow: 0 0 0 .10rem rgba(13, 110, 253, .25);
    border-radius: 5px;
}

.input-field {
    position: relative;
}

.input-field input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.6px solid #8e8e8e;
    width: 350px;
    height: 50px;
    font-size: 23px;
    font-weight: 600;
    padding: 7px 15px 0 15px;
    color: #000;
    outline: none;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 450;
    pointer-events: none;
    transition: 0.15s;
}

.input:focus {
    border: 2px solid #18ffff;
}

.input-float:focus ~ label,
.input-float:valid ~ label {
    top: 0;
    left: 15px;
    font-size: 13px;
    color: #151c28;
    background-color: #fff;
    font-weight: 460;
}

.input-float:focus {
    border: solid 1px #808080;
    outline: none;
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
    border-radius: 5px;
}

td.name {
    width: 18%;
}

td.qty {
    width: 9%;
}

td.budget {
    width: 15%;
}

td.uom {
    width: 9%;
}

td.leadtime {
    width: 14%;
    padding-left: 9px;
}

.tengah {
    justify-items: center;
}

td.delete {
    width: 3%;
}

.size {
    font-size: 15px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    color: #343434
}

::selection {
    color: #fff;
    background: #6990F2;
}

.wrapper-2 {
    max-width: 410px;
    background: #fff;
    border-radius: 5px;
    margin: 30px 0;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.05);
    padding: 20px;
}

.wrapper-2 .form-upload {
    max-width: 410px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    border: 2px dashed #656565;
}

form :where(i, p) {
    color: #2c2c2c;
}

.form-upload i {
    font-size: 20px;
    padding: 7px 8px;
    color: #fff;
}

.wrapper-2 p.description {
    margin-top: -10px;
    font-weight: 500;
    color: #808080;
}

.wrapper-2 .desc {
    margin-right: 10px;
}

form .rounding {
    background: #818181;
    border-radius: 11px;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-items: center;
    margin: 20px 18px 0px 13px;
}

form p {
    font-size: 16px;
    font-weight: 550;
}

button.download-button {
    border: none;
    background: none;
}

button.delete-button {
    border: none;
    background: none;
}

button.delete-button {
    border: none;
    background: none;
    color: #9c0404
}

div#attached-files i.fas.fa-times {
    color: red;
    font-size: 19px;
}

div#attached-files .row {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #eaeaea;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    margin-left: 2px;
}

div#attached-files .row i {
    color: #414141;
    font-size: 17px;
}

div#attached-files .details span {
    font-size: 14px;
}

div#attached-files {
    max-height: 232px;
    overflow-y: scroll;
    margin-top: 0.5rem;
}

div#attached-files::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

div#attached-files::-webkit-scrollbar-thumb {
    background: #888;
}

div#attached-files::-webkit-search-cancel-button {
    width: 20px;
}

div#attached-files .row .content {
    display: flex;
    align-items: center;
}

div#attached-files .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

div#attached-files .row .details .size {
    color: #404040;
    font-size: 11px;
}

div#attached-files .details span {
    font-size: 14px;
}


div#attached-files .details span {
    font-size: 14px;
}

.content.upload {
    position: relative;
}

.button-function {
    position: absolute;
    right: -3%;
}

.tabel-item {
    overflow-x: auto;
}
