@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Roboto:ital,wdth,wght@0,96.3,100..900;1,96.3,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: #000;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #000;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    color: #000;
}

.role-card {
    font-weight: 300;
}

.role-card i,
.role-card p,
.role-card span {
    color: #fff;
}

.main {
    display: flex;
    font-family: "Outfit", sans-serif;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    background-color: #fff;
}

#sidebar {
    max-width: 290px;
    min-width: 81px;
    transition: all 0.25s ease-in-out;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#sidebar.expand {
    width: 290px;
    min-height: 260px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) .role-card {
    display: none;
}

.sidebar-link {
    text-decoration: none !important;
}

.sidebar-item {
    margin-bottom: 3%;
}

.sidebar-link i {
    color: #000;
}

.toggle-btn {
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #872509;
    margin-right: -1%;
}

.toggle-btn i {
    color: #fff;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .4s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-logo a {
    color: #272727;
    font-size: 1.3rem;
    text-decoration: none !important;
    border-radius: 0.425rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-weight: 700;
}

.sidebar-nav {
    padding: 0.7rem 0;
    flex: 11 auto;
    z-index: 100;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #1b1b1b;
    display: block;
    white-space: nowrap;
    font-weight: 500;
    border-left: 1px solid transparent;
}

.log {
    font-size: 13px;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(168, 31, 0, 0.048);
    border-left: 4px solid #872509;
    color: #791f06;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 80px;
    background-color: #f8eaea;
    padding: 0;
    min-width: 12rem;
    display: none;
    margin-bottom: 0;
    margin-left: 0;
    color: #000;
    border-block;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-link {
    color: #141414;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-dropdown .sidebar-link {
    position: relative;
    transition: all 0.5s;
    margin-left: 1.2rem;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-link {
    color: #121212;
    margin-left: 0;
}

.sidebar-dropdown a.sidebar-link::before {
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background-color: black;
    position: absolute;
    left: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover {
    background: transparent;
    border-left: 4px solid #7B0000;
    padding-left: 2rem;
    color: #7d2207;
    background-color: #791f0631;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-link:hover {
    color: #7d2207;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(33, 37,41, .1);
}

.navbar-brand {
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: #232323;
}

.navbar-nav .nav-link:hover {
    color: #848484;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    border-radius: 50%;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border: solid 2px #0049dc;
}

.page-titles {
    padding: 0.9375rem 1.875rem;
    background: #F3F3F9;
    transition: all .2s ease;
}

.table > thead tr {
    color: #fff;
    text-align: left;
}

tr.highlight th {
    background-color: #293b5f;
    color: #fff;
}

.content {
    flex: 11auto;
}

footer {
    background-color: #f5f5f5;
    padding: 1rem .875rem;
}

@media(min-width:768px) {
    .input-group-navbar .form-control:focus {
        outline: none;
        box-shadow: 0 0 0 0 rgba(255, 255, 255);
        border: none;
        background-color: #f5f5f5;
    }

    .input-group-navbar {
        max-width: 320px;
    }

    .input-group-navbar .form-control {
        color: #3e4455;
        background-color: #f5f5f5;
        height: calc(2.44375rem + 2px);
    }

    .input-group-navbar .btn {
        color: #000;
        background-color: #f5f5f5;
        cursor: pointer;
        z-index: 1000;
    }

    .input-group-navbar .btn:active {
        background-color: #f5f5f5;
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        box-shadow: 0.1rem .2rem rgba(0, 0, 0, .05);
    }
}

.role-card {
    background-color: #7B0000;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    position: relative;
}

.role-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.role-icon {
    font-size: 14px;
}

.change-btn {
    background-color: #C92A2A;
    color: white;
    font-size: 12px;
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
}

main .content-div {
    min-height: 100vh;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-brand {
    font-weight: 600;
}

.form-label {
    font-weight: 600;
    font-size: 17px;
}

.underline {
    text-decoration: underline;
}
