@{
    ViewData["Title"] = "Dashboard";
}

<main class="content">
    <div class="content-div d-flex justify-content-center align-items-center" style="flex: 1;">
        <h1 style="font-size: 6rem;">Work in Progress</h1>
    </div>
</main>

